/* font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
/* Tailwind base */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './mixin';

@layer base {
  input[type='color'] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
  }

  ::-webkit-color-swatch-wrapper {
    @apply p-0;
  }

  ::-webkit-color-swatch {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  ::-moz-color-swatch,
  ::-moz-focus-inner {
    border: 0;
  }

  ::-moz-focus-inner {
    padding: 0;
  }
}
